@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #6b7280;
    --foreground: #2c5282;

    --card: #00e5b5;
    --card-foreground: #ffffff;

    --popover: #00e5b5;
    --popover-foreground: #ffffff;

    --primary: #25344d;
    --primary-foreground: #ffffff;

    --secondary: #00e5b5;
    --secondary-foreground: #2cf8b1;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #25344d;
    --accent-foreground: #ffffff;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --border: #2c5282;
    --input: #2c5282;
    --ring: #25344d;

    --radius: 0.75rem;
  }

  .dark {
    --background: #2c5282;
    --foreground: #6b7280;

    --card: #00e5b5;
    --card-foreground: #6b7280;

    --popover: #00e5b5;
    --popover-foreground: #6b7280;

    --primary: #00e5b5;
    --primary-foreground: #2c5282;

    --secondary: #ffffff;
    --secondary-foreground: #25344d;

    --muted: #1f2937;
    --muted-foreground: #9ca3af;

    --accent: #25344d;
    --accent-foreground: #2c5282;

    --destructive: #7f1d1d;
    --destructive-foreground: #6b7280;

    --border: #00e5b5;
    --input: #00e5b5;
    --ring: #25344d;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  --line-color: #25344d;
}

:root {
  --card: 255, 255, 255;
  --background: 255, 255, 255;
}

.dark {
  --card: 31, 41, 55;
  --background: 17, 24, 39;
}